body {
    color: aliceblue;
    position: relative;
}

.contents {
    text-align: center;
}

#pointer {
    width: 50px;
    height: auto;
}

.msg {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.form {
    float: right;
}