.login:hover{
    cursor: pointer;
    color: #ff8f5b;
    background-color: #ffff;
    border: 2px solid #ff8f5b;
}

.login:disabled{
    cursor: default;
    color: #ffff;
    border: 0;
    background: #22222222;
}
.signup:hover{
    cursor: pointer;
    color: #ff8f5b;
    background-color: #ffff;
    border: 2px solid #ff8f5b;
}

.signup:disabled{
    cursor: default;
    color: #ffff;
    border: 0;
    background: #22222222;
}
