
/*全体設定*/
* {
    box-sizing: border-box;
}
/*ポップアップウィンドウの設定*/
.popup{
    background-color: #efefef;
    box-shadow: 0 0 0 9999px rgba(0,0,0,0.8);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; /*余白*/
    width: 30vw;
    height: 60vw;
    overflow-y: scroll;
}

/*チェックボックスの初期設定*/
#popup-on{
    display: none;
}

/*チェックされたらポップアップウィンドウを開く*/
.btn-open1:active+ .popup{
    display: block;
}

/*閉じるアイコン(右上)*/
.icon-close{
    background: #000;
    color:#fff;
    font-size: 30px;
    padding: 0 10px;
    position: absolute;
    right: 0;
}

/*閉じるアイコン*/
.btn-close{
    background: #000;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    margin:10px auto;
    width: 50%;
    text-align: center;
}

/*開くボタン*/
.btn-open1{
    background: #fff;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    margin: 10px auto;
    width: 95%;
    text-align: center;
}

/*ポップアップの内容*/
.popup-content{
    margin:40px auto 40px auto;
    width: 90%;
}

/*写真の設定*/
.layer-img2{
    width: 100%;
    height: 100%;
}


.swich:active + .F1{
    display: none;
}

.F2{
    display: none;
}
.swich:active + .F2{
    display: block;
}