<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/admin.css">
    <title>Document</title>
</head>
<body>
    <t2><b>イベント情報登録</b></t2>
    <p>
        イベント名：<input type="text"  size="40" maxlength="20">　(未入力の場合、イベント名は「会議」になります。)
    </p>
    <p>
        日時　　　：<input type="datetime-local">
    </p>
    <p>場所　　　：
        <select>
            <option>セミナー室A</option>
            <option>コワーキングスペースA</option>
            <option>コワーキングスペースB</option>
          </select>
    </p>
    <p>
        <input type="submit" value="送信">
    </p>
</body>
</html>