<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/admin.css">
    <title>Document</title>
</head>

<body>
    <t2><b>イベント情報登録</b></t2>
    <form action="/event_register" method="POST">
        <p>
            イベント名：</p><input type="text" size="40" maxlength="20" name="event_name">
        <p> 日時　　　： </p><input type="datetime-local" name="date">
        <p>場所</p>
        <select name="location">
                <option>セミナー室A</option>
                <option>コワーキングスペースA</option>
                <option>コワーキングスペースB</option>
              </select>

        <input type="submit" value="送信">
    </form>
</body>

</html>