<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <link rel="stylesheet" href="/static/css/ikkai.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
</head>

<body>
    <script>
    </script>
    <form action="/kintai" method="POST" id="submit">

        <fieldset>

            <legend>勤怠情報変更フォーム</legend>
            <p>勤務状況</p><select name="kintai" id="kintai">
      <option>出勤</option>
      <option>社用外出</option>
      <option>私用外出</option>
      <option>遅刻</option>
      <option>早退</option>
      <option>休み</option>
      <option>午前休</option>
      <option>午後休</option>
      <option>在宅勤務</option>
      <option>退社</option>
      <option>出張</option>
    </select>
            <br>

            <label class="always"><input type="checkbox"  id ="flag" >毎日この席に座る</label>
            <br>
            <label><input type="submit" value="送信" onclick="flag_check()" ></label>
        </fieldset>
    </form>
    <p>{{msg}}</p>
    <p id="submit_msg"></p>
    <ul>
        {% for msg in name %}
        <li>{{msg}}</li>
        {% endfor %}
    </ul>
    <div class="contents">
        <img src="/static/pics/白浜社屋1F.png" usemap="#ImageMap1" alt="" />
        <div id="map1"><map name="ImageMap1" id="ikkai">
      <area shape="poly" class="1"  id="1"   coords="140,325,145,334,153,328,147,320,147,320" onclick="submit()" name="seat1" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="2"  id="2"   coords="126,334,132,342,140,337,134,328,133,329" onclick="submit()" name="seat2" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="3"  id="3"   coords="111,343,116,352,127,347,121,336,123,338" onclick="submit()" name="seat3" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="4"  id="4"   coords="86,354,81,362,94,368,97,356,97,356" onclick="submit()" name="seat4" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="5"  id="5"   coords="80,383,78,393,91,393,92,382" onclick="submit()" name="seat5" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="6"  id="6"   coords="82,415,81,424,95,426,95,414" onclick="submit()" name="seat6" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="7"  id="7"   coords="80,447,81,458,93,459,95,446" onclick="submit()" name="seat7" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="8"  id="8"   coords="81,462,80,472,94,472,94,461" onclick="submit()" name="seat8" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="9"  id="9"   coords="82,489,81,501,95,502,93,488" onclick="submit()" name="seat9" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="10" id="10"  coords="81,502,80,513,92,514,93,502" onclick="submit()" name="seat10" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank"  alt="" />
      <area shape="poly" class="11" id="11"  coords="109,424,103,434,115,440,121,429" onclick="submit()" name="seat11" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="12" id="12"  coords="131,420,125,430,138,436,142,427" onclick="submit()"  name="seat12" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="13" id="13"  coords="116,479,128,482,131,473,120,469" onclick="submit()" name="seat13" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="14" id="14"  coords="139,457,137,467,150,471,152,459" onclick="submit()" name="seat14" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="15" id="15"  coords="159,462,161,472,173,470,169,458" onclick="submit()" name="seat15" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="16" id="16"  coords="177,476,181,486,191,482,188,472" onclick="submit()" name="seat16" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="17" id="17"  coords="185,492,192,500,200,492,193,484" onclick="submit()" name="seat17" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="18" id="18"  coords="186,515,194,526,204,517,195,509" onclick="submit()" name="seat18" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank"  alt="" />
      <area shape="poly" class="19" id="19"  coords="181,526,177,538,190,541,192,529" onclick="submit()" name="seat19" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="20" id="20"  coords="160,539,155,549,168,553,172,541" onclick="submit()" name="seat20" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="21" id="21"  coords="137,542,140,552,150,550,149,539" onclick="submit()" name="seat21" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="22" id="22"  coords="114,530,119,540,130,536,126,526" onclick="submit()" name="seat22" onmouseenter = "get_class()"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="23" id="23"  coords="77,595,77,605,88,606,88,596" onclick="submit()" name="seat23" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="24" id="24"  coords="77,617,77,627,88,627,87,616" onclick="submit()" name="seat24" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="25" id="25"  coords="77,638,76,652,88,652,90,638" onclick="submit()" name="seat25" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="26" id="26"  coords="82,715,83,726,94,727,95,715" onclick="submit()" name="seat26" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="27" id="27"  coords="82,797,82,808,94,806,94,796,92,795" onclick="submit()" name="seat27" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="28" id="28"  coords="120,664,118,673,131,678,134,666" onclick="submit()" name="seat28" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="29" id="29"  coords="99,676,95,686,108,689,113,679" onclick="submit()" name="seat29" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="30" id="30"  coords="166,667,168,679,181,677,176,663" onclick="submit()" name="seat30" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="31" id="31"  coords="185,681,189,693,201,688,197,677" onclick="submit()" name="seat31" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="32" id="32"  coords="123,709,133,718,142,710,133,701" onclick="submit()" name="seat32" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="33" id="33"  coords="148,710,155,718,165,712,154,703" onclick="submit()" name="seat33"  onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="34" id="34"  coords="169,724,177,729,181,718,169,715" onclick="submit()" name="seat34"  onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="35" id="35"  coords="181,738,179,748,190,750,192,740,191,742" onclick="submit()" name="seat35" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="36" id="36"  coords="178,757,179,766,193,764,189,753" onclick="submit()" name="seat36" onmouseenter = "get_class()"data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="37" id="37"  coords="167,779,169,789,182,788,179,775" onclick="submit()" name="seat37" onmouseenter = "get_class()"data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="38" id="38"  coords="147,792,156,799,166,791,156,782" onclick="submit()" name="seat38" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="39" id="39"  coords="132,784,124,791,132,800,143,793" onclick="submit()" name="seat39" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="40" id="40"  coords="112,777,108,785,120,789,123,779" onclick="submit()" name="seat40" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" class="41" id="41"  coords="101,753,98,764,108,767,111,756" onclick="submit()" name="seat41" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="rect" class="42" id="42"  coords="285,28,384,175"  onclick="submit()" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" name="cafe" alt="" />
      <area shape="rect" class="43" id="43"  coords="693,30,1024,177" onclick="submit()" onmouseenter = "get_class()" data-funcybox="floor1" target="_blank" name="meetingroom" alt="" />
      
    </map>
        </div>
        <img id="pointer" src="{{dst}}" alt="">

    </div>





    <script type="text/javascript">
        function get_class(e) {
            var e = e || window.event;
            var elem = e.target || e.srcElement;
            var elem_id = elem.id;
            var filename = document.getElementsByTagName("map")[0].id;
            var seat = "{{seat}}";
            if (seat != elem_id) {
                var form = document.createElement("form");
                var input = document.createElement("input");
                var scroll = document.createElement("input");
                scroll.name = "scroll";
                scroll.type = "hidden";
                scroll.value = document.documentElement.scrollTop;
                form.appendChild(scroll);
                form.action = "/find/" + elem.id;
                form.method = "post";
                input.name = "filename";
                input.type = "hidden";
                input.value = filename;
                form.appendChild(input);
                document.body.appendChild(form);

                form.submit();

            }





        }
    </script>
    <script>
        var form = document.getElementById("submit");
        var filename = document.getElementsByTagName("map")[0].id;
        var input = document.createElement("input");
        input.name = "filename"
        input.value = filename
        input.type = "hidden";
        form.appendChild(input)
    </script>
    <script type="text/javascript">
        function submit(e) {
            var elem = document.getElementById("seat");
            if (elem != null) {
                elem.parentNode.removeChild(elem);
            }
            var form = document.getElementById("submit");
            var e = e || window.event;

            var elem = e.target || e.srcElement;

            var elem_id = elem.id;

            var input2 = document.createElement("input");
            var msg = document.getElementById("submit_msg");



            input2.type = "hidden";

            input2.name = "seat";

            input2.value = elem.id;

            input2.id = "seat";
            msg.textContent = elem.id + "を選択しました";

            form.appendChild(input2);


        }
    </script>
    <script type="text/javascript">
        function flag_check() {
            var checkbox = document.getElementById("flag");
            var input = document.createElement("input");
            var form = document.getElementById("submit");
            input.name = "flag"
            input.type = "hidden"
            if (checkbox.checked == true) {
                input.value = "on";
            } else {
                input.value = "off";
            }
            form.appendChild(input)
        }
    </script>
</body>
<script type="text/javascript">
    scroll();
    var form = document.getElementById("submit");

    var parent_username = window.parent.document.getElementById("username");

    var username = parent_username.textContent;
    var name_input = document.createElement("input");

    name_input.type = "hidden";

    name_input.name = "name";

    name_input.value = username;

    form.appendChild(name_input);

    function scroll() {
        try {
            s = "{{scr}}";
            if (s != "") {
                document.documentElement.scrollTop = Number(s);
            }


        } catch (error) {
            alert(error);
        }
    }
</script>
<script>
    window.onload = seat_position()

    function seat_position() {
        var seat = "{{seat}}";
        var seat_offset = $("#" + seat).offset()
        var offset = $("#pointer").offset({
            top: seat_offset.top,
            left: seat_offset.left
        })

        console.log(seat_offset)
        console.log(offset);
    }
</script>

</html>