<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/information.css">
    <title>Document</title>
</head>

<body>
    <fieldset>
        <legend>出勤中</legend>
        <ul>
            {% for msg in employees %}
            <li>{{msg[0]}} {{msg[1]}}</li>
            {% endfor %}
        </ul>
    </fieldset>
    <fieldset>
        <legend>イベント予定</legend>
        <ul>
            {% for eve in event %}
            <li>{{eve[1]}}</li>
            {% endfor %}
        </ul>
    </fieldset>
    <form action="/at_info" method="POST">
        <input type="submit" value="確認"></form>
    <script>
    </script>
</body>

</html>