<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/admin.css">
    <title>Document</title>
</head>

<body>
    <fieldset>
        <legend>チェックイン履歴</legend>
        {% for msg in lst %}
        <li>{{msg}}</li>
        {% endfor %}

    </fieldset>
    <form action="/checklog" method="POST">
        <input type="submit" value="確認">

    </form>
    <form action="/del_log" method="POST">
        <input type="submit" value="削除">
    </form>
    <p>{{msg}}</p>

</body>

</html>