<!DOCTYPE html>
<html lang="en"><!--おまじない-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>main</title>
  <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="/static/css/login.css">
</head>
<body>
    
    <form action="/register" method = "POST">
         <h1>Sign up</h1>
         <fieldset>
             <legend>Please input some information!</legend>
             <p>username</p>
             <input type="text" name="username" class="un">
             <br>
             <p>password</p>
             <input type="text" name="password"><!--input:userが入力する部分を作る-->
             <br>

             <a href="/signup">signup</a><!--a:リンクを張るタグ-->

             <button type="submit" id = "signup" class = "sp" disabled=True>送信</button>
            </fieldset>
        </form>
    
    
    

</body>
<script src="static/js/login.js"></script>
</html>