<!DOCTYPE html>
<html lang="en">

<head>
    <!--UTF8(ってゆう種類)でエンコード(規則を設けて数字を文字にする)するよ-->
    <meta charset="UTF-8">
    <!--パソコンとか携帯とかの幅に自動で合わせてくれる-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--キャッシュ無効化-->
    <meta http-equiv="Cache-Control" content="no-cache">
    <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="/static/css/map.css">
    <title>Document</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/jquery.rwdImageMaps.min.js"></script>
    <!--クリッカブルマップをレスポンシブ化-->
    <script>
        $('img[usemap]').rwdImageMaps()
    </script>

    <!--モーダルウィンドウと連携させる-->
    <link rel='stylesheet' href="/static/css/jquery.fancybox.min.css">
    <script src="/static/js/jquery.fancybox.min.js"></script>

</head>


<body>
    <div class="hidden_box">
        <input type="checkbox" id="label1" />
        <label for="label1">2F</label>
        <div class="hidden_show">
            <!--表示ここから-->
            <p id="greeding">こんにちは</p>
            <!--ここまで-->
        </div>
    </div>

    <div class="F1">
        <img src="/static/pics/白浜社屋1F.png" usemap="#ImageMap1" alt="" />
        <div id="map1"><map name="ImageMap1" id="ikkai">
      <area shape="poly" coords="140,325,145,334,153,328,147,320,147,320" href="/regis/seat1" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="126,334,132,342,140,337,134,328,133,329" href="/regis/seat2"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="111,343,116,352,127,347,121,336,123,338" href="/regis/seat3"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="86,354,81,362,94,368,97,356,97,356" href="/regis/seat4"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="80,383,78,393,91,393,92,382" href="/regis/seat5"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="82,415,81,424,95,426,95,414" href="/regis/seat6"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="80,447,81,458,93,459,95,446" href="/regis/seat7"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="81,462,80,472,94,472,94,461" href="/regis/seat8"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="82,489,81,501,95,502,93,488" href="/regis/seat9"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="81,502,80,513,92,514,93,502" href="/regis/seat10" data-funcybox="floor1" target="_blank"  alt="" />
      <area shape="poly" coords="109,424,103,434,115,440,121,429" href="/regis/seat11"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="131,420,125,430,138,436,142,427" href="/regis/seat12"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="116,479,128,482,131,473,120,469" href="/regis/seat13"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="139,457,137,467,150,471,152,459" href="/regis/seat14"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="159,462,161,472,173,470,169,458" href="/regis/seat15" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="177,476,181,486,191,482,188,472" href="/regis/seat16"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="185,492,192,500,200,492,193,484" href="/regis/seat17"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="186,515,194,526,204,517,195,509" href="/regis/seat18" data-funcybox="floor1" target="_blank"  alt="" />
      <area shape="poly" coords="181,526,177,538,190,541,192,529" href="/regis/seat19"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="160,539,155,549,168,553,172,541" href="/regis/seat20"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="137,542,140,552,150,550,149,539" href="/regis/seat21"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="114,530,119,540,130,536,126,526" href="/regis/seat22"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="77,595,77,605,88,606,88,596" href="/regis/seat23"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="77,617,77,627,88,627,87,616" href="/regis/seat24" data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="77,638,76,652,88,652,90,638" href="/regis/seat25"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="82,715,83,726,94,727,95,715" href="/regis/seat26"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="82,797,82,808,94,806,94,796,92,795" href="/regis/seat27"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="120,664,118,673,131,678,134,666" href="/regis/seat28"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="99,676,95,686,108,689,113,679" href="/regis/seat29"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="166,667,168,679,181,677,176,663" href="/regis/seat30"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="185,681,189,693,201,688,197,677" href="/regis/seat31"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="123,709,133,718,142,710,133,701" href="/regis/seat32"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="148,710,155,718,165,712,154,703" href="/regis/seat33"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="169,724,177,729,181,718,169,715" href="/regis/seat34"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="181,738,179,748,190,750,192,740,191,742" href="/regis/seat35"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="178,757,179,766,193,764,189,753" href="/regis/seat36"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="167,779,169,789,182,788,179,775" href="/regis/seat37"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="147,792,156,799,166,791,156,782" href="/regis/seat38"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="132,784,124,791,132,800,143,793" href="/regis/seat39"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="112,777,108,785,120,789,123,779" href="/regis/seat40"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="poly" coords="101,753,98,764,108,767,111,756" href="/regis/seat41"  data-funcybox="floor1" target="_blank" alt="" />
      <area shape="rect" id="39" class="39" coords="285,28,384,175"  data-funcybox="floor1" target="_blank" href="/regis/cafe" alt="" />
      <area shape="rect" id="40" class="40" coords="693,30,1024,177"  data-funcybox="floor1" target="_blank" href="/regis/meetingroom" alt="" />
    </map>
        </div>
    </div>
    <div class="F2">
        <img src="/static/pics/白浜社屋2F.png" usemap="#ImageMap2" alt="" />
        <map name="ImageMap2">
  <area shape="rect" coords="132,86,262,239" href="/regis/presidentroom" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="rect" coords="325,86,388,238" href="/regis/nexttoprsident" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="rect" coords="388,90,450,240" href="/regis/privatieofficeA" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="rect" coords="451,89,513,242" href="/regis/privatieofficeB" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="rect" coords="886,275,1018,417" href="/regis/coworkingspaceA" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="rect" coords="762,272,838,382" href="/regis/coworkingspaceB" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="rect" coords="81,433,228,498" href="/regis/nexttodevelopment" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="96,511,106,511,106,520,97,522" href="/regis/seat42" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="111,512,110,521,120,522,121,512" href="/regis/seat43" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="125,511,125,520,135,520,135,511" href="/regis/seat44" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="142,510,151,511,151,519,141,519" href="/regis/seat45" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="161,511,169,511,169,520,159,520" href="/regis/seat46" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="175,509,184,509,185,519,174,517" href="/regis/seat47" alt=""  data-funcybox="floor2" target="_blank" >
  <area shape="poly" coords="190,510,199,510,199,520,188,520" href="/regis/seat48" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="206,510,214,511,214,521,205,521" href="/regis/seat49" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="169,543,169,552,179,552,178,543" href="/regis/seat50" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="171,566,176,576,186,570,180,560" href="/regis/seat51" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="189,575,184,583,197,589,202,580" href="/regis/seat52" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="174,604,169,614,181,619,185,609" href="/regis/seat53" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="152,601,162,601,162,613,152,612" href="/regis/seat54" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="132,609,137,604,146,612,135,618" href="/regis/seat55" alt=""  data-funcybox="floor2" target="_blank" >
  <area shape="poly" coords="114,577,119,587,131,582,124,572,125,572" href="/regis/seat56" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="127,570,136,575,141,566,131,561" href="/regis/seat57" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="135,542,135,551,146,552,146,541" href="/regis/seat58" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="166,658,172,667,180,662,176,652" href="/regis/seat59" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="149,659,148,670,159,671,161,658" href="/regis/seat60" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="134,653,128,661,140,669,146,658" href="/regis/seat61" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="118,682,112,691,123,698,130,688" href="/regis/seat62" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="126,703,129,710,139,706,136,696" href="/regis/seat63" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="131,720,130,730,144,732,143,718" href="/regis/seat64" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="166,719,166,730,177,729,178,718" href="/regis/seat65" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="175,697,168,706,179,712,184,702" href="/regis/seat66" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="182,687,187,697,198,693,198,682" href="/regis/seat67" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="134,779,131,790,144,791,144,779" href="/regis/seat68" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="131,799,127,807,136,813,141,804" href="/regis/seat69" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="113,818,118,827,126,822,122,813" href="/regis/seat70" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="131,848,134,855,145,851,139,843" href="/regis/seat71" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="150,839,150,848,158,849,158,838" href="/regis/seat72" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="172,841,167,848,178,856,183,847" href="/regis/seat73" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="184,821,192,827,198,819,189,813" href="/regis/seat74" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="170,804,175,813,186,808,180,799" href="/regis/seat75" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="168,780,167,790,178,791,179,781" href="/regis/seat76" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="238,663,238,673,249,673,249,663" href="/regis/seat77" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="237,677,237,687,248,687,248,676" href="/regis/seat78" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="237,692,236,702,247,702,249,692" href="/regis/seat79" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="235,708,236,716,248,717,249,707" href="/regis/sea80" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="236,726,236,737,246,738,247,726" href="/regis/seat81" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="238,743,237,752,249,754,249,742" href="/regis/seat82" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="238,756,236,767,248,767,249,757" href="/regis/seat83" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="236,771,236,782,247,783,249,771" href="/regis/seat84" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="95,861,93,872,104,872,104,862" href="/regis/seat85" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="110,862,110,873,120,873,120,862" href="/regis/seat86" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="124,862,124,871,134,873,134,862" href="/regis/seat87" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="142,863,141,872,151,873,151,863,143,864" href="/regis/seat88" alt="" data-funcybox="floor2" target="_blank"  />
  <area shape="poly" coords="159,863,158,871,170,872,169,861" href="/regis/seat89" alt="" data-funcybox="floor2" target="_blank"  />
  <area shape="poly" coords="176,862,175,871,185,872,184,861" href="/regis/seat90" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="190,864,188,873,200,872,199,863" href="/regis/seat91" alt=""  data-funcybox="floor2" target="_blank" />
  <area shape="poly" coords="206,864,204,873,214,873,215,863" href="/regis/seat92" alt="" data-funcybox="floor2" target="_blank" />
</map>
    </div>
    <br>
    <p>{{workplace}}</p>
    <form action="/kintai" method="POST">

        <fieldset>

            <legend>勤怠情報変更フォーム</legend>
            <p>勤務状況</p><select name="kintai">
      <option>出勤</option>
      <option>社用外出</option>
      <option>私用外出</option>
      <option>遅刻</option>
      <option>早退</option>
      <option>休み</option>
      <option>午前休</option>
      <option>午後休</option>
      <option>在宅勤務</option>
      <option>退社</option>
      <option>出張</option>
    </select>
            <br>

            <label class="always"><input type="checkbox">毎日この席に座る</label>
            <br>
            <label><input type="submit" value="送信"></label>
        </fieldset>
    </form>



    <script>
        /*fancybox設定*/
        $('[data-fancybox="floor1"]').fancybox({
            smallBtn: true
        })
        $('[data-fancybox="floor2"]').fancybox({
            smallBtn: true
        })
    </script>

    <script type="text/javascript">
        var element = Number(document.getElementById("ikkai").lastElementChild.className);
        alert(element);
        for (var i = 39; i <= element; i++) {

            var elem1 = document.getElementById("" + i);

            elem1.addEventListener("mouseover", function send_text(event, elem1) {
                alert("aaa");
                location.href = "http://localhost:5555/search/" + elem1.className;
            }, false);
        }
    </script>
    <script type="text/javascript">
    </script>
</body>


</html>