<!DOCTYPE html>
<html lang="en">
<head>  
  <!--UTF8(ってゆう種類)でエンコード(規則を設けて数字を文字にする)するよ-->
  <meta charset="UTF-8">
   <!--パソコンとか携帯とかの幅に自動で合わせてくれる-->
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!--キャッシュ無効化-->
   <meta http-equiv="Cache-Control" content="no-cache">
   <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="/static/css/map.css">
  <title>Document</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/jQuery-rwdImageMaps-master/jQuery-rwdImageMaps-master/jquery.rwdImageMaps.min.js"></script>
  <!--クリッカブルマップをレスポンシブ化-->
  <script>$('img[usemap]').rwdImageMaps()</script>

  <!--モーダルウィンドウと連携させる-->
  <link rel='stylesheet' href="/fancybox-master/fancybox-master/dist/jquery.fancybox.min.css">
  <script src="/fancybox-master/fancybox-master/dist/jquery.fancybox.min.js"></script>
  
</head>
<body>
  <img src="/static/pics/白浜社屋1F.png" usemap="#ImageMap" alt="" class="a" />
  <map name="ImageMap">
  <area shape="rect" coords="694,29,1028,176" href="/regis/room" alt="" data-funcybox="seminarroom" target="_blank"/>
  <area shape="rect" coords="285,28,384,176" href="#" alt="" data-funcybox="gallery2" target="_blank"/>
  <area shape="rect" coords="63,299,217,565" href="/static/pics/白浜本社1F-room1.jpg" alt="" data-funcybox="1Froom1" target="_blank"/>
  <area shape="rect" coords="65,564,217,824" href="/static/pics/白浜社屋1F.png" alt="" data-funcybox="1Froom2" target="_blank"/>
 </map>

 <script>
   /*fancybox設定*/
   $('[data-fancybox="1Froom1"]').fancybox({
     smallBtn:true
   })
   $('[data-fancybox="1Froom2"]').fancybox({
     smallBtn:true
   })
 </script>
</body>
</html>