<!DOCTYPE html>
<html lang="en">

<head>
    <!--UTF8(ってゆう種類)でエンコード(規則を設けて数字を文字にする)するよ-->
    <meta charset="UTF-8">
    <!--パソコンとか携帯とかの幅に自動で合わせてくれる-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--キャッシュ無効化-->
    <meta http-equiv="Cache-Control" content="no-cache">
    <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="/static/css/map.css">
    <title>Document</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/jquery.rwdImageMaps.min.js"></script>
    <!--クリッカブルマップをレスポンシブ化-->
   
    <!--モーダルウィンドウと連携させる-->
    <link rel='stylesheet' href="/static/css/jquery.fancybox.min.css">
    <script src="/static/js/jquery.fancybox.min.js"></script>

</head>


<body>
    <div class="hidden_box">
        <input type="checkbox" id="label1" />
        <p id="floor">1F</p>
        <div class="hidden_show">
            <!--表示ここから-->
            <p id="toggle">切り替え</p>
            <!--ここまで-->
        </div>
    </div>


    
    <div id="F1">
        <!---->
        <iframe src="/get_map/1F" width="1500" height="800"></iframe>

    </div>
        
    <br>
    <p>{{workplace}}</p>
    <form action="/kintai" method="POST">

        <fieldset>

            <legend>勤怠情報変更フォーム</legend>
            <p>勤務状況</p><select name="kintai">
      <option>出勤</option>
      <option>社用外出</option>
      <option>私用外出</option>
      <option>遅刻</option>
      <option>早退</option>
      <option>休み</option>
      <option>午前休</option>
      <option>午後休</option>
      <option>在宅勤務</option>
      <option>退社</option>
      <option>出張</option>
    </select>
            <br>

            <label class="always"><input type="checkbox">毎日この席に座る</label>
            <br>
            <label><input type="submit" value="送信"></label>
        </fieldset>
    </form>



    <script>
        /*fancybox設定*/
        $('[data-fancybox="floor1"]').fancybox({
            smallBtn: true
        })
        $('[data-fancybox="floor2"]').fancybox({
            smallBtn: true
        })
    </script>

    
    <script type="text/javascript">
        var element = document.getElementById("toggle")
        element.addEventListener("mouseover", function change_map(event) {
            floor = document.getElementById("floor");
            if (floor.textContent == "1F") {
                elem = document.getElementById("F1");
                elem.innerHTML = '<iframe src="/get_map/2F" width="1500" height="800"></iframe>';
                floor.textContent = "2F";
            } else {
                elem = document.getElementById("F1");
                elem.innerHTML = '<iframe src="/get_map/1F" width="1500" height="800"></iframe>';
                floor.textContent = "1F";
            }

        }, false);
    </script>
</body>


</html>