<html lang="en-US">

<head>
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta charset="utf-8">
    <title>Login</title>

    <link rel="stylesheet" href="/static/css/new-login.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">


</head>
<h1 class="title">Login</h1>
<div id="login">
    <form name='form-login' action="/login" method="POST">
        <span class="fontawesome-user"></span>
        <input type="text" id="user" placeholder="Username" name="username">

        <span class="fontawesome-lock"></span>
        <input type="password" id="pass" placeholder="Password" name="password">
        <span class="fontawesome-lock"></span>
        <input type="text" id="id" placeholder="ID" name="id">
        <span class="fontawesome-lock"></span>
        <input type="password" id="admin" placeholder="管理者パスワード" name="admin_password">
        <input type="submit" value="Login">


        <p class="err">{{err_msg}}</p>

    </form>
</div>
<h1 class="title">Sign up</h1>
<div id="login">
    <form name='form-login' action="/account_register" method="POST">
        <span class="fontawesome-user"></span>
        <input type="text" id="user" placeholder="Username" name="username">

        <span class="fontawesome-lock"></span>
        <input type="password" id="pass" placeholder="Password" name="password">
        <input type="text" id="id" placeholder="ID" name="id">
        <span class="fontawesome-lock"></span>
        <input type="submit" value="Login">


        <p class="err">{{msg2}}</p>

    </form>
</div>