<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <link rel="stylesheet" href="/static/css/ikkai.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
</head>

<body>
    <script>
    </script>
    <form action="/kintai" method="POST" id="submit">

        <fieldset>

            <legend>勤怠情報変更フォーム</legend>
            <p>勤務状況</p><select name="kintai" id="kintai">
      <option>出勤</option>
      <option>社用外出</option>
      <option>私用外出</option>
      <option>遅刻</option>
      <option>早退</option>
      <option>休み</option>
      <option>午前休</option>
      <option>午後休</option>
      <option>在宅勤務</option>
      <option>退社</option>
      <option>出張</option>
    </select>
            <br>

            <label class="always"><input type="checkbox"  id ="flag" >毎日この席に座る</label>
            <br>
            <label><input type="submit" value="送信" onclick="flag_check()" ></label>
        </fieldset>
    </form>
    <p>{{msg}}</p>
    <p id="submit_msg"></p>
    <ul>
        {% for msg in name %}
        <li>{{msg}}</li>
        {% endfor %}
    </ul>
    <div class="contents">
        <img src="/static/pics/白浜社屋2F.png" usemap="#ImageMap2" alt="" />
        <map name="ImageMap2" id="nikai">
<area shape="rect"  class="44" id="44" coords="132,86,262,239"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="rect"  class="45" id="45" coords="325,86,388,238" alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="rect"  class="46" id="46" coords="388,90,450,240" alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="rect"  class="47" id="47" coords="451,89,513,242" alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="rect"  class="48" id="48" coords="886,275,1018,417" alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="rect"  class="49" id="49" coords="762,272,838,382" alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="rect"  class="50" id="50" coords="81,433,228,498" alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="51" id="51" coords="96,511,106,511,106,520,97,522"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="52" id="52" coords="111,512,110,521,120,522,121,512"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="53" id="53" coords="125,511,125,520,135,520,135,511"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="54" id="54" coords="142,510,151,511,151,519,141,519"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="55" id="55" coords="161,511,169,511,169,520,159,520"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="56" id="56" coords="175,509,184,509,185,519,174,517"  alt=""  onclick="submit()" onmouseover="get_class()" >
<area shape="poly"  class="57" id="57" coords="190,510,199,510,199,520,188,520"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="58" id="58" coords="206,510,214,511,214,521,205,521"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="59" id="59" coords="169,543,169,552,179,552,178,543"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="60" id="60" coords="171,566,176,576,186,570,180,560"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="61" id="61" coords="189,575,184,583,197,589,202,580"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="62" id="62" coords="174,604,169,614,181,619,185,609"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="63" id="63" coords="152,601,162,601,162,613,152,612"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="64" id="64" coords="132,609,137,604,146,612,135,618"  alt=""  onclick="submit()" onmouseover="get_class()" >
<area shape="poly"  class="65" id="65" coords="114,577,119,587,131,582,124,572,125,572"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="66" id="66" coords="127,570,136,575,141,566,131,561"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="67" id="67" coords="135,542,135,551,146,552,146,541"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="68" id="68" coords="166,658,172,667,180,662,176,652"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="69" id="69" coords="149,659,148,670,159,671,161,658"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="70" id="70" coords="134,653,128,661,140,669,146,658"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="71" id="71" coords="118,682,112,691,123,698,130,688"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="72" id="72" coords="126,703,129,710,139,706,136,696"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="73" id="73" coords="131,720,130,730,144,732,143,718"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="74" id="74" coords="166,719,166,730,177,729,178,718"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="75" id="75" coords="175,697,168,706,179,712,184,702"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="76" id="76" coords="182,687,187,697,198,693,198,682"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="77" id="77" coords="134,779,131,790,144,791,144,779"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="78" id="78" coords="131,799,127,807,136,813,141,804"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="79" id="79" coords="113,818,118,827,126,822,122,813"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="80" id="80" coords="131,848,134,855,145,851,139,843"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="81" id="81" coords="150,839,150,848,158,849,158,838"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="82" id="82" coords="172,841,167,848,178,856,183,847"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="83" id="83" coords="184,821,192,827,198,819,189,813"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="84" id="84" coords="170,804,175,813,186,808,180,799"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="85" id="85" coords="168,780,167,790,178,791,179,781"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="86" id="86" coords="238,663,238,673,249,673,249,663"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="87" id="87" coords="237,677,237,687,248,687,248,676"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="88" id="88" coords="237,692,236,702,247,702,249,692"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="89" id="89" coords="235,708,236,716,248,717,249,707"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="90" id="90" coords="236,726,236,737,246,738,247,726"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="91" id="91" coords="238,743,237,752,249,754,249,742"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="92" id="92" coords="238,756,236,767,248,767,249,757"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="93" id="93" coords="236,771,236,782,247,783,249,771"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="94" id="94" coords="95,861,93,872,104,872,104,862"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="95" id="95" coords="110,862,110,873,120,873,120,862"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="96" id="96" coords="124,862,124,871,134,873,134,862"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="97" id="97" coords="142,863,141,872,151,873,151,863,143,864"  alt="" onclick="submit()" onmouseover="get_class()"  />
<area shape="poly"  class="98" id="98" coords="159,863,158,871,170,872,169,861"  alt="" onclick="submit()" onmouseover="get_class()"  />
<area shape="poly"  class="99" id="99" coords="176,862,175,871,185,872,184,861"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="100" id="100" coords="190,864,188,873,200,872,199,863"  alt=""  onclick="submit()" onmouseover="get_class()" />
<area shape="poly"  class="101" id="101" coords="206,864,204,873,214,873,215,863"  alt="" onclick="submit()" onmouseover="get_class()" />
</map>
    </div>
    <img id="pointer" src="{{dst}}" alt="">




    <script type="text/javascript">
        function get_class(e) {
            var e = e || window.event;
            var elem = e.target || e.srcElement;
            var elem_id = elem.id;
            var filename = document.getElementsByTagName("map")[0].id;
            var seat = "{{seat}}";
            if (seat != elem_id) {
                var form = document.createElement("form");
                var input = document.createElement("input");
                var scroll = document.createElement("input");
                scroll.name = "scroll";
                scroll.type = "hidden";
                scroll.value = document.documentElement.scrollTop;
                form.appendChild(scroll);
                form.action = "/find/" + elem.id;
                form.method = "post";
                input.name = "filename";
                input.type = "hidden";
                input.value = filename;
                form.appendChild(input);
                document.body.appendChild(form);

                form.submit();

            }





        }
    </script>
    <script type="text/javascript">
        function submit(e) {
            var elem = document.getElementById("seat");
            if (elem != null) {
                elem.parentNode.removeChild(elem);
            }
            var form = document.getElementById("submit");
            var e = e || window.event;

            var elem = e.target || e.srcElement;

            var elem_id = elem.id;
            var input = document.createElement("input");
            var input2 = document.createElement("input");
            var msg = document.getElementById("submit_msg");
            var filename = document.getElementsByTagName("map")[0].id;
            input.name = "filename"
            input.value = filename
            input.type = "hidden";
            form.appendChild(input)


            input2.type = "hidden";

            input2.name = "seat";

            input2.value = elem.className;

            input2.id = "seat";
            msg.textContent = elem.id + "を選択しました";

            form.appendChild(input2);


        }
    </script>
    <script type="text/javascript">
        function flag_check() {
            var checkbox = document.getElementById("flag");
            var input = document.createElement("input");
            var form = document.getElementById("submit");
            input.name = "flag"
            input.type = "hidden"
            if (checkbox.checked == true) {
                input.value = "on";
            } else {
                input.value = "off";
            }
            form.appendChild(input)
        }
    </script>
</body>
<script type="text/javascript">
    scroll();
    var form = document.getElementById("submit");

    var parent_username = window.parent.document.getElementById("username");

    var username = parent_username.textContent;
    var name_input = document.createElement("input");

    name_input.type = "hidden";

    name_input.name = "name";

    name_input.value = username;

    form.appendChild(name_input);

    function scroll() {
        try {
            s = "{{scr}}";
            if (s != "") {
                document.documentElement.scrollTop = Number(s);
            }


        } catch (error) {
            alert(error);
        }
    }
</script>
<script>
    var seat = "{{user_seat}}";
    console.log(seat)
    var parent_elem = document.getElementsByTagName("map")[0]
    var elem = document.getElementById(seat)
    console.log(elem.scrollTop)
    document.documentElement.scrollTop = elem.scrollTop
</script>

</html>