<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/usage.css">
    <title>Document</title>
</head>

<body>
    <h3><b><u>イベントの登録</u></b></h3>
    <p>1.Adminから「イベント登録」を選択<br>2.イベント名，日時，場所を入力</p>
    <p><b>※イベント名未入力の場合、イベント名は「会議」になります。</b><br>3.送信ボタンをクリック<br>完了！！</p>
    <br>

    <h3><b><u>社員IDから社員を削除</u></b></h3>
    <p>1.Adminの「IDから削除」を選択<br>2.削除したい従業員のIDを入力<br>3.送信ボタンをクリック<br>完了！！</p>

</html>