<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/usage.css">
    <title>Document</title>
</head>

<body>
    <h1>HOW TO USE</h1>
    <br>
    <b>検索方法</b>
    <p>Searchをクリック</p>
    <p>→検索欄に検索したい人の名前を入力</p>
    <p>→Searchボタンをクリック</p>
    <br>
    <b>出勤者一覧</b>
    <p>Informationをクリック</p>
    <P>→確認ボタンをクリック</P>
    <p>→出勤中の人を確認できます</p>
    <br>
    <b>ミーティング情報確認</b>
    <P>Informationをクリック</P>
    <p>→確認ボタンをクリック</p>
    <p>→イベント予定からミーティング情報を確認できます</p>
</body>

</html>