<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/usage.css">
    <title>Document</title>
</head>
<body>
    <h3><b><u>map登録</u></b></h3>
    <p>1.Adminのマップ追加をクリック</p>
    <p>2.「Drag and drop an image and/or a.map.json save file here」と書いているところに、</p>
    <p>　登録したいマップの画像をドラッグ＆ドロップ</p>
    <p>3.Toolのプルダウンメニューから、形を選択し、マップ画像の座席をくり抜く</p>
    <p>4.Generate Htmlをクリック</p>
    <p>5.Outputの下の窓をクリック(URLが自動でコピーされます)</p>
    <p>6.画面左の「htmlをコピペしてください」と書いている入力欄にペースト(クリックすると自動でペーストされます)</p>
    <p>7.ファイルを選択ボタンをクリック</p>
    <p>8.マップ画像をもう一度選択し、開くボタンをクリック</p>
    <p>9送信ボタンをクリック</p>
    <p>完了！</p>
    <br>
    <h3><b><u>map削除</u></b></h3>
    <p>Admin</p>
    <p>→マップ削除をクリック</p>
    <p>→削除したいマップを選択し、送信</p>
    <p>完了！</p>
</body>
</body>
</html>