<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/usage.css">
    <title>Document</title>
</head>

<body>

</body>
<h3><u><b>出勤時</b></u></h3>
<p>1.Enterから座りたい階(1F/2F)を選択</p>
<p>2.勤務状況の出勤を選択</p>
<p>3.マップの座りたい席をクリック</p>
<p>4.勤怠情報変更フォームの枠の下に<b>「・この席は空いています」と表示された場合</b>、送信ボタンをクリック</p>
<p>4.勤怠情報変更フォームの枠の下に<b>名前表示された場合</b>、他の席を選びなおしてください。</p>
<br>
<h3><u><b>退社時</b></u></h3>
<p>1.Enterから席を指定した階(1F/2F)を選択</p>
<p>2.勤務状況の退社を選択</p>
<p>3.送信</p>

</html>