<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/usage.css">
    <title>Document</title>
</head>

<body>
    <h1>使い方</h1>
    <br>
    <b>出勤時</b>
    <p>Enterから1F/2Fを選択</p>
    <p>→座りたい椅子/入りたい部屋を選んでクリック</p>
    <P>→勤務状況の出勤を選択</P>
    <p>→送信をクリック</p>
    <br>
    <b>退勤時</b>
    <p>Enterから1F/2Fを選択</p>
    <P>→勤務状況の出勤を選択</P>
    <p>→送信をクリック</p>
    <br>
    <b>昼休憩</b>
    <P>→勤務状況の私用外出を選択</P>
    <p>→送信をクリック</p>
</body>

</html>